//
//  Default.xcconfig
//  Tumble
//
//  Created by Adis Veletanlic on 2025-09-16.
//

DEVELOPMENT_TEAM=5QHM3X75YP
BASE_BUNDLE_IDENTIFIER = com.example.tumble
APP_GROUP_IDENTIFIER = group.$(BASE_BUNDLE_IDENTIFIER)
KEYCHAIN_ACCESS_GROUP_IDENTIFIER = $(DEVELOPMENT_TEAM).$(BASE_BUNDLE_IDENTIFIER)
APP_VERSION = 5.0.0
